/* Custom style */
/* Footer */
.footer {
display: flex;
flex-direction: column;
background-color: #1a1918;
text-align: center;
height: 250px;
}

.upper {
filter: invert(100%) !important;
}
.fas {
filter: invert(10%)
}

img {
opacity: 0.5;
margin-top: 15px;
}

.margin {
margin: 5px;
}

p {
color: #75706f;
font-size: 0.855em;
}

.copyright {
}


.bg-header-jumbotron {
background-color: rgba(245, 245, 245, 0.4);
border-style: solid;
border-color: white;
margin-left: auto;
margin-right: auto;
width: 30%;
padding: 15px;
}

.bg-secondary-jumbotron {
background-color: rgba(245, 245, 245, 0.4);
margin-left: auto;
margin-right: auto;
width: 20%;
padding: 15px;
}

.header-jumbotron{
background-color: rgba(245, 245, 245, 0.4);
font-size: 64px;
color: white;
display: flex;
justify-content: center;
margin-top: 50px;
}

.secondary-jumbotron{
font-size: 28px;
color: white;
display: flex;
justify-content: center;
padding: 15px;
text-align: center;
}

.button-jumbotron{
font-size: 20px;
color: white;
background-color: #00aeff;
display: flex;
justify-content: center;
padding: 15px;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px;
width: 12%;
}

.button-jumbotron:hover{
color:white;
background-color: #004566;
}

.button-jumbotron:focus{
color:white;
background-color: #7c7c7c;
}