/* Custom style */
/* Footer */
.footer {
display: flex;
flex-direction: column;
background-color: #1a1918;
text-align: center;
height: 250px;
}

.upper {
filter: invert(100%) !important;
}
.fas {
filter: invert(10%)
}

img {
opacity: 0.5;
margin-top: 15px;
}

.margin {
margin: 5px;
}

p {
color: #75706f;
font-size: 0.855em;
}

.copyright {
}

